body {
  /* margin: 0; */
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", sans-serif;
  /* color: #1e5128; */
  /* color: #191a19; */
  /* color: #d8e9ab; */
  /* color: #51b102;  */
  color: #40514e;
}

h1 {
  margin: 50px auto 0;
  color: #a1b306;
  font-family: "Sacramento", cursive;
  font-size: 3.5rem;
  line-height: 2;
}

.programmer {
  font-size: 1.1rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #a1b306;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #51b102;
}

a {
  color: #a9e07c;
  text-decoration: none;
}

a:hover {
  color: #ecfad2;
  text-decoration: none;
}


p{
  line-height: 2;
}

.profile{
  margin-bottom: 80px;
}

.profile-img {
  width: 20%;
}

.code-skill-discription {
  clear: left;
}

.code-skill-discription2{
  clear: right;
}

.topContainer {
  background-color: #fffebc;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 200px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.mountain {
  padding-top: 50px;
}

.skill-row{
  margin:100px auto;
  width: 50%;
  text-align: left;
}

.skills-img1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skills-img2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.my-paragraph{
  display: inline-block;
  width: 25%;
}

.my-paragraph2{
  width: 25%;
  margin: auto auto 40px;
}

hr {
  border: 0px;
  border-top: 5px;
  width:3%;
  border-style: dotted;
  color: #e9fda5;
  margin-bottom: 100px;
}

.btn {
  margin-top: 200px;
  color: white;
  background-color: #51b102;
  padding: 12px;
  border-radius: 20px;
}

.btn:hover {
  margin-top: 200px;
  color: #ffffff;
  background-color: #b7ff0e;
  padding: 12px;
  border-radius: 20px;
}

.bottom-container{
  margin-top: 60px;
  background-color: #51b102;
  padding: 30px 0 20px;
  color: #f8f7f0;
}

.last-heading{
  margin-bottom: 30px;
}

.copyright{
  margin-top: 30px;
  font-size: 0.75rem;
}